<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="T4EnumSyncDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=T4EnumSync;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
